[*.{cs,vb}]

# IDE0017: Simplify object initialization
dotnet_style_collection_initializer = false
dotnet_style_object_initializer = false

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false
