[submodule "SourceCode/Product/DatabaseLibraryNet"]
	path = SourceCode/Product/DatabaseLibraryNet
	url = https://jamesjohnmcguire@bitbucket.org/jamesjohnmcguire/databaseLibraryNet.git
[submodule "SourceCode/Product/UtilitiesNet"]
	path = SourceCode/Product/UtilitiesNet
	url = https://github.com/jamesjohnmcguire/UtilitiesNet.git
[submodule "SourceCode/Product/VersionUtilities"]
	path = SourceCode/Product/VersionUtilities
	url = https://github.com/jamesjohnmcguire/VersionUtilities.git
[submodule "SourceCode/Product/HttpTool"]
	path = SourceCode/Product/HttpTool
	url = https://github.com/jamesjohnmcguire/HttpTool.git
[submodule "SourceCode\\Product\\UtilitiesNet"]
	path = SourceCode\\Product\\UtilitiesNet
	url = https://github.com/jamesjohnmcguire/UtilitiesNet.git
